<section id="youtube" ng:init="$location = $service('$location')">
    <div class="row">
    	<span class="one-third column">
			&lt;angular/&gt; Youtube : {{userId}}
		</span>
		<span class="two-thirds column">
			user: <input type="text" name="userId" ng:required />
		</span>
	</div>
	<ul class="square sixteen columns">
		<li ng:repeat="item in videos.data.items">
			<div class="row">
				<div class="two-thirds column alpha">
					<a ng:href="{{item.player.default}}">
						{{item.title}}
					</a>
				</div>
				<div class="one-third column omega">
					<a ng:href="http://youtube.com/{{item.uploader}}">
						Uploader: {{item.uploader}}
					</a>
				</div>
			</div>
			<div>
                <a ng:href="{{item.player.default}}"><img ng:src="{{item.thumbnail.hqDefault}}"/></a>
				<p><!-- Content -->
					{{item.description}}
				</p>
			</div>
		</li>
	</ul>
    <script>
        $('input[name=userId]').keypress(function(e) {
            var controller = angular.element('section').scope();
            var userId = $(this).attr('value');
            if(e.keyCode == 13)
                controller.$location.updateHash('/youtube/' + userId);
        });
    </script>
</section>